body{
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*width: 100%;
    height: 100%;*/
    background-image: url('../img/bg.png');
    overflow: hidden;
}
#bodyInner{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.boxWrap{
    width: 90%;
    background: rgb(132,18,18);
    margin: auto;
    position: absolute;
    top: 50%; left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    text-align: center;
    overflow: hidden;
    border: 2px solid #ccc;
    -webkit-box-shadow: 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px;
    box-shadow: 3px 3px 3px;
    z-index: 9;
}
.top{
    height: 75px;
    width: 100%;
}

.left{
    float: left;
    width:75px; height: 75px;
    background: url('../img/lock.jpg') no-repeat;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
}
.right{
    box-sizing: border-box;
    margin-left: 75px;
    height: 75px;
    border: 1px solid #ccc;
    position: relative;
}


.header{
    padding: 1px 2px;
    color: #fff;
    background: -webkit-linear-gradient(left, #000080, #1084d0);
    background: linear-gradient(to right, #000080, #1084d0);
    font-weight: bold;
    font-size: 11px;
    line-height: 16px;
}
.header .icon {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 2px;
}
.header .buttons {
    height: 14px;
    float: right;
}
.header .buttons button {
    vertical-align: text-top;
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    height: 14px;
    width: 14px
}
.timeLeft{
    font-size: 30px;
    line-height: 34px;
}
.leftp{
    width:20px;
    height: 100%;
    position: absolute;
    right:-5px;
    top:0;
    margin-right:10px;
    background: url("../img/precen.jpg") no-repeat;
    -webkit-background-size:100% 100%;
    background-size:100% 100%;
}
.leftpW{
    width:20px;
    height: 100%;
    position: absolute;
    right:-5px;
    top:0;
    margin-right:10px;
    background: rgb(132,18,18);
    
}
.leftText{
    width: 50%;
    background: #fff;
    border-right: 1px solid #ccc;
    padding: 0 5px;
}
.rightText{
background: #fff;
    width: 50%;
    padding: 0 5px;
}
.text{
    display:flex;
    display: -webkit-flex;
    padding: 5px 10px;
    text-align: left;
}
.text p{
    text-indent: 2em;
    word-wrap:break-word; word-break:normal; 
}
.twoBtn button{
        vertical-align: text-top;
    font-weight: bold;
    line-height: 12px;
    padding: 0;
    height: 20px;
    width: 80px;
    margin: 5px 30px 10px 30px;
}
.set{
    width: 50px;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
.setbox{
    position: fixed;
    top: -100px;
    opacity: 0;
    width: 100%;
    background: #fff;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
    display: block;
    -webkit-transition: top .5s,opacity .5s;
    transition: top .5s,opacity .5s; 
}
.setbox.active{
    top: 0;
    opacity: 1;
}
.setbox>div{
    display:flex;
    display: -webkit-flex;
}
.setbox p{
    text-align: center;
}
.setbox textarea{
    width: 95%;
    border:1px solid #ccc;
    border-radius: 4px; 
    text-indent: 2em;
}
.email{
    margin-left: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 5px;
    height: 20px;
}
.save{
    width: 50px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#ad{
    width: 100%;
    position: relative;
    height: 100px;
    border-top: 2px solid #ccc;
    
    overflow: hidden;
    box-sizing: border-box;
}
.adwrap{
    width: 200%;
    height: 100%;
    display: inline-block;
    position: absolute;
    left: 0;
    -webkit-transition: left .5s;
    transition: left .5s;
}
.adwrap.swipeleft{
    left: -100%;
}
.adLeft{
    display: inline-block;
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.adLeftInner{
    width: 100%;
    height: 500%;
    position: absolute;
    animation: lunbo 20s linear 4s infinite alternate;
    /* Firefox: */
    -moz-animation: lunbo 20s linear 4s infinite alternate;
    /* Safari 和 Chrome: */
    -webkit-animation: lunbo 20s linear 4s infinite alternate;
    /* Opera: */
    -o-animation: lunbo 20s linear 4s infinite alternate;
}
.item{
    width: 100%;
    height: 20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.item1{
    background-image:url('../img/adimg1.jpg');
}
.item2{
    background-image:url('../img/adimg2.jpg');
}
.item3{
    background-image:url('../img/adimg3.jpg');
}
.item3{
    background-image:url('../img/adimg3.jpg');
}
.item4{
    background-image:url('../img/adimg4.jpg');
}
.item5{
    background-image:url('../img/adimg5.jpg');
}
.tips{
    float: right;
    display: inline-block;
    width: 50%;
    height: 100%;
    background: #5cb85c;
    color: #fff;
}
.adP{
    position: absolute;
    color: yellow;
    display: inline-block;
    bottom: 0;
    right: 0;
    z-index: 99;
}
@keyframes lunbo
{
0%   { top:0;}
10%  {  top:0;}
15%  {  top:-100%;}
35%  {  top:-100%;}
40%  { top:-200%;}
60%  { top:-200%;}
65%  {  top:-300%;}
85%  {  top:-300%;}
90%  {  top:-400%;}
100%  {  top:-400%;}
}

@-moz-keyframes lunbo 
{
0%   { top:0;}
10%  {  top:0;}
15%  {  top:-100%;}
35%  {  top:-100%;}
40%  { top:-200%;}
60%  { top:-200%;}
65%  {  top:-300%;}
85%  {  top:-300%;}
90%  {  top:-400%;}
100%  {  top:-400%;}
}

@-webkit-keyframes lunbo 
{
0%   { top:0;}
10%  {  top:0;}
15%  {  top:-100%;}
35%  {  top:-100%;}
40%  { top:-200%;}
60%  { top:-200%;}
65%  {  top:-300%;}
85%  {  top:-300%;}
90%  {  top:-400%;}
100%  {  top:-400%;}
}

@-o-keyframes lunbo 
{
0%   { top:0;}
10%  {  top:0;}
15%  {  top:-100%;}
35%  {  top:-100%;}
40%  { top:-200%;}
60%  { top:-200%;}
65%  {  top:-300%;}
85%  {  top:-300%;}
90%  {  top:-400%;}
100%  {  top:-400%;}
}